.App {
  text-align: center;
  height: 100vh;
  margin:0px;
  padding:0px;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  color:white;
  grid-template-areas: 
    "sidenav header"
    "sidenav main"
    "sidenav footer";

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: rgb(113,205,221);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  grid-area: header;
}

/* Side nav content */
.sidenav{
  grid-area: sidenav;
  background-color: rgb(24,154,167);
  padding-top:12px;
  box-sizing: border-box;
}


.sidenav .sidebarlist{
  display:flex;
  flex-direction:column;
  height:100%;
}

.sidenav a {
  color:white;
  text-decoration:none;

}
.sidenav  ul{
  padding: 0;
  margin-top:85px;
  list-style-type: none;
  color:white;
  box-sizing: border-box;
  padding-left: 10px;
  text-align: left;
  padding: 20px;
}

.sidenav li{
  padding: 5px 0px 5px 0px;
  font-weight: light;
  word-wrap: break-word;
  cursor: pointer;
}
.sidenav  li:hover {
    background-color: rgb(67,172,190);
}

.sidenav .dataset_picker li.datapicker_li_active{
  font-weight: bold;
}

.buttons{
   display:flex;
   justify-content: space-around;
   margin-bottom:20px;
}

/* Main section */
.main{
  grid-area: main;
  background-color: rgb(168,169,173);
  display: flex;
  justify-content: space-between;
  height:100%;
  width:100%;
  box-sizing: border-box;
  padding:20px;
}
.main .full_card{
  width:100%;
}

.main .datatable{
  color:black
}

.footer{
  grid-area: footer;
  background-color: rgb(113,205,221);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fileSnapshot{
  display:flex;
  flex-direction:column;
}

.fileSnapshot ul.columnSummaryList{
  list-style-type: none;
  display:grid;
  grid-template-columns : repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap:15px;
  grid-row-gap: 10px;
  
}
.fileSnapshot ul.columnSummaryList li .summary_list_header{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding-bottom:10px;
  border-bottom: 1px solid lightgrey

}

.fileSnapshot ul{
   list-style-type:none;
}

.search input{
 flex:0.5;
}
.search{
   display:flex;
   justify-content: space-around;
}

.entityGrid{
   display: grid;
   grid-gap: 10px;
   width: 100%;
   height:50%;
   overflow-y: scroll;
   max-height: 300px;
   grid-template-columns: repeat(auto-fill, 186px);
}

.App-link {
  color: #61dafb;
}

.controls button{
 margin-right:10px
}

button{
  background-color: rgb(179,198,106);
  color:white;
  font-weight:bold;
  box-sizing: border-box;
  padding: 10px 20px;
  border:none;
}

button:hover{
 background-color: rgb(25,212,185);

}

.mapping{
  background-color: rgb(179,198,106);
 box-sizing: border-box;
 padding: 20px;
 margin-right: 10px;
 min-width:200px
}

.mapping.active{
 background-color: rgb(25,212,185);
}

.mappings{
  display:flex;
  flex-direction:row;
  overflow-y: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
